@mixin AbsCenter {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

@mixin clearFix {
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin moveIn($direction) {
    @if $direction == left{
        animation-name: moveInLeft;
        animation-duration: .8s;
        animation-timing-function: ease-out;
    }

    @if $direction == right{
        animation-name: moveInRight;
        animation-duration: .8s;
        animation-timing-function: ease-out;
    }

    @if $direction == bottom{
        animation-name: moveInBottom;
        animation-duration: .8s;
        animation-timing-function: ease-out;
    }
}



@mixin respond ($break-point) {
    
    @if $break-point == phone-sm{
        @media (max-width : 25em) {
            @content;
        }
    }

    @if $break-point == phone{
        @media (max-width : 37.5em) {
            @content;
        }
    }

    @if $break-point == tab-port{
        @media (max-width : 56.25em) {
            @content;
        }
    }
    @if $break-point == tab-land{
        @media (max-width : 75em) {
            @content;
        }
    }
    @if $break-point == bid-desktop{
        @media (min-width : 112.5em) {
            @content;
        }
    }
}